HTML
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ store['name'] }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>{{ store['name'] }}</h1>
        <hr style="border-color: #334155;">
        <p><strong>Operating Hours:</strong> {{ store['operating_hours'] }}</p>
        <p><strong>Current Status:</strong> {{ store['store_status'] }}</p>
        <p><strong>Estimated Wait:</strong> {{ store['estimated_wait_time'] }} minutes</p>
        
        <br>
        <button style="background-color: #334155; color: white;">Join Queue</button>
        <!--To be continued/Coming soon!-->
        <p style="text-align: center; margin-top: 20px;">
            <a href="/">&larr; Back to Directory</a>
        </p>
    </div>
</body>
</html>