<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discover Stores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card" style="max-width: 800px; margin: 0 auto 20px auto;">
        <h1>Directory</h1>
        <form method="GET" action="/stores">
            <input type="text" name="search" placeholder="Search for a business..." value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <div style="text-align: right; padding: 20px; max-width: 1000px; margin: 0 auto;">
        <span>Welcome, <strong style="color: #2563eb;">{{ username }}</strong>!</span> | 
        <a href="/logout" style="color: #d1d5e3; text-decoration: none; font-weight: bold;">Logout</a>
    </div>

 <form method="GET" action="/stores">
            <input type="text" name="search" placeholder="Search for a business..." value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>
    </div>

    <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; max-width: 1000px; margin: 0 auto;">
        {% for store in stores %}
            <div class="card" style="width: 300px;">
                <!-- Fixed according to new values//Week 3 -->
                <h2>{{ store['store_name'] }}</h2>
                <p><strong>Status:</strong> {{ store['store_status'] }}</p>
                <p><strong>Wait Time:</strong> {{ store['estimated_wait_time'] }} mins</p>
                <a href="/store/{{ store['store_id'] }}"><button>View Details</button></a>
            </div>
        {% else %}
            <p style="text-align: center; width: 100%;">No stores found. Try a different search!</p>
        {% endfor %}
    </div>
</body>
</html>